.clear
{
 clear: both;
}

.layoutTable
{
 display: table;
}

.layoutRow
{
 display: table-row;
}

.layoutCell
{
 display: table-cell;
}

.navbar
{
 margin-bottom: .5em;
}

body
{
 background: #ddd;
}

.row
{
 padding: 0 .5em .5em;
}

.header
{
 text-align: center;
}
.date, .personalWeight, .title, .sets
{
 background: #fff;
 padding: .3em .5em;
}

.title
{
 border-bottom: 1px solid #ddd;
}

.title .name
{
 text-transform: uppercase;
}

.weight
{
 float: right;
}

.sets
{
 position: relative;
 font-size: 1.4em;
 padding-left: 0;
 padding-right: 0;
}

.repsContainer
{
 width: 20%;
 float: left;
 text-align: center;
}

.reps
{
 display: inline-block;
 width: 2em;
 height: 2em;
 line-height: 2em;
 border: 1px solid #000;
 border-radius: 50%;
 opacity: .3;
}

.setIsDone-true
{
 opacity: 1;
 border: none;
}

.footer
{
 width: 100%;
 text-align: center;
}

.addExercises
{
 width: 1px;
 padding-right: .5em;
}

.addExercises span
{
 display: inline-block;
 background: #fff;
 font-size: 2em;
 line-height: 1.1em;
 width: 1.1em;
 height: 1.1em;
}

.finishWorkout
{
 font-size: 1.07em;
 vertical-align: middle;
}

.solidBackground,
.setIsDone-true
{
 background: #EC2D21;
 color: #fff;
}

.coloredText
{
 color: #EC2D21;
}