/*.numberOfSets .set {

    padding: 5px 10px;
    display: inline-block;
    border: 1px grey solid;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
}*/

/*.set
{
	background: gray;
}*/